.header_logo {
  width: 100px;
  height: 40px;
}

.bg-header {
  background-color: red;
  padding: 10px;
}

.css-1wvake5 {
  position: relative;
  min-width: 40px !important;
  height: 100vh;
  border: none !important;
  width: 360px !important;
  min-width: 313px !important;
  color: black !important;
}
.css-16jkw2k > .ps-menu-button:hover {
  color: black !important;
}

.css-dip3t8 {
  background-color: rgb(14, 134, 247) !important;
}
.links_for_products {
  text-decoration: none;
  color: white;
}

.icon {
  font-size: 30px;
  color: white;
}

.set_margin {
  margin: 20px !important;
}

a:hover {
  color: black !important;
}
