.css-1wvake5 {
  position: relative;
  min-width: 100px !important;
  height: 100vh;
  border: none !important;
}
.bg-header {
  background-color: red;
  padding: 10px;
}
.header_logo {
  width: 100px;
  height: 40px;
}

.css-dip3t8 {
  width: 225px;
  position: relative;
  height: 120vh !important;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  background-color: #0085ff !important;
  color: white;
}

.fa-circle-user {
  font-size: 30px;
  color: white;
  float: right;
}
.links_for_products {
  text-decoration: none;
  color: white;
}

.banner_img {
  width: 70px;
  height: 70px;
}

.dashboard_body,
.form_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dasboard_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.952);
}

.product_container1 {
  width: 83.3% !important;
  position: absolute;
  right: 0%;
  top: 10%;
  height: 110vh;
  margin: 15px;
  background-color: #acbdff49;
}

.banner_container {
  margin: 40px;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
  height: fit-content;
}
.cards{
  width: 250px;
  height: 150px !important;
  border: none !important;
}

.graph{
  width:55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.g_heading{
  margin-left: 120px;
}
.product_container2 {
  display: flex;
  justify-content: space-between;
  width: 90% !important;
  position: absolute;
  right: 4%;
  top: 8%;
  height: 100vh;
  border: none;
  background-color: #fafcfdcc;

  box-shadow: 5px 5px 5px gray;
}
.Payment {
  margin: 10px !important;
  width: 310px;
  background-color: hsl(195, 14%, 95%);
  border-radius: 10px;
}
li {
  list-style-type: none;
}
.bills,
.form {
  height: 50%;
}
.Payment_side_bar,
.bills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px !important;
}
.form_inputs {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
}
input {
  width: 30px;
}
